pipeline/Pipeline_func_test.json
{
	"name": "Pipeline_func_test",
	"properties": {
		"activities": [
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "GetDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"body": {
						"value": "@variables('datetime')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetDateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "datetime",
					"value": {
						"value": "@formatDateTime(\n   convertTimeZone(utcnow(), 'UTC', 'Tokyo Standard Time'), 'yyyyMMdd HH'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"datetime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}